# <%= platformName %> Environment Configuration
# Generiert: <%= timestamp %>

PLATFORM_NAME=<%= platformName %>
PLATFORM_VERSION=1.0.0

<% if (database === 'postgres') { %>
DB_HOST=localhost
DB_PORT=5432
DB_NAME=<%= platformNameSnake %>
DB_USER=postgres
DB_PASSWORD=postgres
<% } else if (database === 'mysql') { %>
DB_HOST=localhost
DB_PORT=3306
DB_NAME=<%= platformNameSnake %>
DB_USER=root
DB_PASSWORD=mysql
<% } else { %>
DB_HOST=localhost
DB_PORT=3306
DB_NAME=<%= platformNameSnake %>
DB_USER=root
DB_PASSWORD=mariadb
<% } %>
<% if (database === 'postgres') { %>
API_PORT=3000
API_URL=http://localhost:3000
<% } else { %>
API_PORT=8055
API_URL=http://localhost:8055
<% } %>

ADMIN_URL=http://localhost:8080

ENABLE_MARKETPLACE=<%= hasMarketplace %>
ENABLE_REALTIME=<%= needsRealtime %>
